/* red          pale lime   green       dark pale   beige
   FF4242       F4FAD2      D4EE5E      E1EDB9      F0F2EB */

/* Layout */
html, body {margin:0; padding:0; font-family:sans-serif; font-size:12pt; background:#222; overflow:auto;}
.wrap {width:980px; padding:0 20px 10px; margin:10px auto 10px;}
a{color:#ae350e;}
#nojs {position:fixed; width:80%; top:10%; height:60%; left:10%; background:red; z-index:99999; font-size:60pt; color:yellow; padding:40px; border-radius:10px;}

section {background:#fff; padding:35px 20px 20px; border-radius:8px; margin:0 0 10px; overflow:auto; clear:both; position:relative; z-index:20;
-webkit-box-shadow:1px 1px 0 #777,
2px 2px 0 #999,
3px 3px 0 #9a9a9a,
4px 4px 0 #aaa,
5px 5px 0 #a9a9a9,
5px 5px 10px #000;
box-shadow:1px 1px 0 #777,
2px 2px 0 #999,
3px 3px 0 #9a9a9a,
4px 4px 0 #aaa,
5px 5px 0 #a9a9a9,
5px 5px 10px #000;
}

footer {background:#D4EE5E; border-radius:5px; padding:28px 30px 32px 30px; color:#F4FEAE; letter-spacing:0.1em; margin:30px 0 0;
text-shadow:1px 1px 0 #646E06,
2px 2px 0 #545E00,
2px 2px 5px #000;
-webkit-box-shadow:inset 2px 2px 8px #647E0E,
-1px -1px 0 #848E0E,
-2px -2px 0 #949E1E,
-3px -3px 0 #A4AE2E,
-4px -4px 0 #B4BE3E,
-5px -5px 0 #C4CE4E;
box-shadow:inset 2px 2px 8px #647E0E,
-1px -1px 0 #848E0E,
-2px -2px 0 #949E1E,
-3px -3px 0 #A4AE2E,
-4px -4px 0 #B4BE3E,
-5px -5px 0 #C4CE4E; }
footer a {color:#fff; text-decoration:none;}

/* Header */
h1 {
-webkit-transition:all 2.12s ease-out 0.5s;
-moz-transition:all 2.12s ease-out 0.5s;
transition:all 2.12s ease-out 0.5s; }

h1, h2 {color:#FF4242; margin:0 0 0px 10px; padding:0; font-size:53pt; font-family:monospace; letter-spacing:0.1em; font-weight:bold; z-index:30; position:relative;
text-shadow:1px 1px 0 #aa3037,
1px 2px 0 #881017,
2px 3px 0 #801017,
3px 4px 0 #7a1017,
4px 5px 0 #781017,
5px 3px 10px #000;}

h1:hover { margin-bottom:25px; margin-left:-10px;
text-shadow:
-1px 1px 0 orange,
2px 2px 0 orange,
3px 3px 0 orange,
4px 4px 0 orange,
5px 5px 0 orange,
6px 6px 0 yellow,
7px 7px 0 yellow,
8px 8px 0 yellow,
9px 9px 0 yellow,
10px 10px 0 yellow,
11px 11px 0 green,
12px 12px 0 green,
13px 13px 0 green,
14px 14px 0 green,
15px 15px 0 green,
16px 16px 0 blue,
17px 17px 0 blue,
18px 18px 0 blue,
19px 19px 0 blue,
20px 20px 0 blue,
21px 21px 0 red,
22px 22px 0 red,
23px 23px 0 red,
24px 24px 0 red,
25px 25px 0 red;}

h2 {clear:both; position:relative; top:16px; margin-left:20px; color:#B4CE1E; font-size:24pt; letter-spacing:7px; text-transform:uppercase; font-weight:normal;
text-shadow:1px 1px 0 #546E6E,
2px 2px 0 #546E6E,
3px 3px 0 #546E6E,
3px 3px 3px #222;}

h3 {font-size:14pt; margin:10px 0; padding:0; letter-spacing:1px;}

/* Navigation */
ul.nav {padding:15px 0 0 10px; margin:0; height:30px; font-size:10pt;}
ul.nav li {float:left; list-style:none;}
ul.nav li:first-child {font-weight:bold; text-shadow:-1px -1px 0 #ae351e; border-radius:20px 0 0 20px; padding:6px 10px 4px 15px; background:#FF4242; color:#fff;
-webkit-box-shadow:1px 1px 0 #881017,
2px 2px 0 #881017,
3px 3px 0 #801017,
4px 4px 0 #781017,
5px 5px 0 #701017,
5px 5px 10px #111;
box-shadow:1px 1px 0 #881017,
2px 2px 0 #881017,
3px 3px 0 #801017,
4px 4px 0 #781017,
5px 5px 0 #701017,
5px 5px 10px #111;}
ul.nav li:last-child a {border-radius:0 20px 20px 0; padding-right:15px;}
ul.nav li a {position:relative; top:2px; left:2px; letter-spacing:0.05em; float:left; list-style:none; margin:0 1px 0 0; background:#fff; display:block; padding:5px 20px 2px; border-bottom:3px solid #ddd; text-decoration:none;
-webkit-box-shadow:1px 1px 0 #ae350e,
1px 2px 0 #ae350e;
box-shadow:1px 1px 0 #ae350e,
1px 2px 0 #ae350e;
-webkit-transition:all 0.12s ease-out;
-moz-transition:all 0.12s ease-out;
transition:all 0.12s ease-out;}
ul.nav li a:hover {text-decoration:none; border:0 none; top:0; left:0; padding-bottom:5px;
-webkit-box-shadow:1px 1px 0 #ce553e,
0px 0px 2px #444,
2px 2px 0 #ce553e,
3px 3px 0 #ce553e,
4px 4px 0 #ce553e,
5px 5px 0 #ce553e,
10px 5px 7px #000;
box-shadow:1px 1px 0 #ce553e,
0px 0px 2px #444,
2px 2px 0 #ce553e,
3px 3px 0 #ce553e,
4px 4px 0 #ce553e,
5px 5px 0 #ce553e,
10px 5px 7px #000;}

ul.nav li a:active {top:1px; left:1px;
-webki-box-shadow:1px 1px 0 #ce553e,
0px 0px 2px #444,
2px 2px 0 #ce553e,
3px 3px 0 #ce553e,
4px 4px 0 #ce553e,
10px 5px 7px #000;
box-shadow:1px 1px 0 #ce553e,
0px 0px 2px #444,
2px 2px 0 #ce553e,
3px 3px 0 #ce553e,
4px 4px 0 #ce553e,
10px 5px 7px #000;}

/* Function display */
#function {display:none; font-family:monospace; overflow-x:scroll; width:940px; font-size:10pt; height:300px;
-webkit-transition:all 0.52s ease-out;
-moz-transition:all 0.52s ease-out;
transition:all 0.52s ease-out;}
#function.expanded {height:2500px; /* estimation of total height, eyeball it after updating function */}
#function .opposite {display:none;}
#function .git {background:#ffffee;}
#function .hg {background:#ffeeff;}
#function .svn {background:#eeeeff;}

#function .line-def {color:#ee8900;}
#function .operator {color:#339984;}
#function .keyword {color:#b75400;}
#function .comment {color:#672289;}
#function .variable {color:#3598d2;}

#code {padding-bottom:40px;}
#code button {margin:15px 15px 0 0;}

/* Preview output */
.display {font-family:monospace;}
.display label {color:#444; font-family:sans-serif; margin:5px 0 5px; display:block; float:left; width:100px;}
.display .screen {background:#222; padding:3px; color:#fff; float:left; width:800px; border-radius:4px; line-height:16pt; box-shadow:3px 3px 9px #000 inset; -webkit-box-shadow:3px 3px 9px #000 inset text-shadow:1px 1px 3px #000;}

.display .group {clear:both; margin:0 0 20px; float:left;}
.display .group:last-child {border:0 none;}
.display .group .sub {margin:4px 0 0 11px; float:left;}
.display .group .sub label {color:#888; width:89px;}
.display .git {color:#c7c323;}
.display .svn {color:#00c7c7;}
.display .hg {color:#ca24c4;}
.display .git-conflicted, .display .hg-conflicted {color:#c80c00;}
.display .git-ahead {color:#00c7c7;}
.display .option-conflict {color:#c7c323;}
.display .git-no-branch {color:#c80c00;}
.display .git-bisect {color:#ca24c4;}
.display .option-submodule {color:#ca24c4;}
.display .hg-bisect {color:#c7c323;}
.display .hg-patches {color:#c7c323;}

/* Colors */
.color-modal ul  {float:left; width:168px; max-width:168px;}
.color-modal ul li {border-left:0 none; border-right:1px solid #fff; border-bottom:1px solid #fff;}
.color-modal ul li:hover {width:17px; height:17px; margin:0; border-width:0 1px 1px 0; padding:3px;}
.color-picker {width:4px; height:4px; margin:-3px 0 0 5px; cursor:pointer; float:right; border:3px solid #fff; padding:4px; font-family:serif; font-size:12pt; color:#666; -webkit-box-shadow:2px 2px 3px #ccc; box-shadow:2px 2px 3px #ccc;}
.color-picker:hover {border-width:2px; width:6px; height:6px;}

.color-red {background:#c80c00 !important;}
.color-lightred {background:#ff6a68 !important; font-weight:bold;}
.color-green {background:#00c426 !important;}
.color-lightgreen {background:#5dfc72 !important; font-weight:bold;}
.color-yellow {background:#c5c525 !important;}
.color-lightyellow {background:#fdfd71 !important; font-weight:bold;}
.color-blue {background: #2773fc !important;}
.color-lightblue {background:#6f6ffc !important; font-weight:bold;}
.color-magenta {background:#ca24c4 !important;}
.color-lightmagenta {background:#ff71fc !important; font-weight:bold;}
.color-cyan {background:#00c7c7 !important;}
.color-lightcyan {background:#65feff !important; font-weight:bold;}
.color-gray {background:#c7c7c7 !important;}
.color-white {background:#fff !important;}

/* Foregrounds */
.display .color-red {color:#c80c00 !important; background:transparent !important;}
.display .color-lightred {color:#ff6a68 !important; background:transparent !important;}
.display .color-green {color:#00c426 !important; background:transparent !important;}
.display .color-lightgreen {color:#5dfc72 !important; background:transparent !important;}
.display .color-yellow {color:#c5c525 !important; background:transparent !important;}
.display .color-lightyellow {color:#fdfd71 !important; background:transparent !important;}
.display .color-blue {color: #2773fc !important; background:transparent !important;}
.display .color-lightblue {color:#6f6ffc !important; background:transparent !important;}
.display .color-magenta {color:#ca24c4 !important; background:transparent !important;}
.display .color-lightmagenta {color:#ff71fc !important; background:transparent !important;}
.display .color-cyan {color:#00c7c7 !important; background:transparent !important;}
.display .color-lightcyan {color:#65feff !important; background:transparent !important;}
.display .color-gray {color:#c7c7c7 !important; background:transparent !important;}
.display .color-white {color:#fff !important; background:transparent !important;}

/* Configuration options */
#options {padding-bottom:30px;}
.config {float:left; width:193px; padding:0 10px 10px;}
.options {border-left:13px solid #eee; overflow:auto; clear:both; padding:0 0 0 10px; margin:23px 0 0 1px;}
.options .group {padding:2px 0; margin:4px 0 0; float:left; clear:both; width:99%;}
.group .fun-checkbox {float:left;}
.group label {cursor:pointer; color:#444; padding:0 0 0 8px; float:left;}
.group label:hover {color:#000;}
.group.general .header {float:none; background:#eee; border-radius:20px; padding:3px 12px; display:block; margin:12px 0;}
.config .master {width:191px;}
.config.characters {width:280px;}
.config.characters input {font-family:monospace; float:left; width:25px; text-align:center;}
.config.characters label {margin-left:1px; display:block; float:left; padding:8px 10px 4px; }
.config.characters .color-picker {margin-top:6px; margin-left:0;}
.config.characters .group.long .color-picker {margin-top:2px;}
.config.characters .group {clear:both; float:left; margin:0 0 10px;}
.config.characters .long input {width:100px; font-size:10pt; text-align:left;}
.config.characters .long label {padding:5px 10px 6px;}
.fun-picker ul li {font-family:monospace;}

#wtf {margin-left:10px;}
.wtf {clear:both; margin:10px; border:3px solid #ddd; height:34px; padding:10px; font-size:10pt; -webkit-box-shadow:inset 0 0 10px #eee; box-shadow:inset 0 0 10px #eee; margin:0 0 20px;}
.wtf label {display:block; font-style:italic; color:#aaa; display:none; font-size:11pt; margin:0 0 3px;}
.wtf #placeholder {display:block; margin:10px auto 0; width:400px; color:#888; text-transform:uppercase;}

/* Floated config options */
.form-buttons {position:relative; top:-26px; left:688px; z-index:9998; width:297px; background:#222; height:22px; border-radius:8px 0 0 0; margin-bottom:-20px;
-webkit-box-shadow:-1px -1px 0 #777,
-2px -2px 0 #999,
-3px -3px 0 #9a9a9a,
-4px -4px 0 #aaa,
-5px -5px 0 #a9a9a9,
3px 3px 10px #2c2c2c;
box-shadow:-1px -1px 0 #777,
-2px -2px 0 #999,
-3px -3px 0 #9a9a9a,
-4px -4px 0 #aaa,
-5px -5px 0 #a9a9a9,
3px 3px 10px #2c2c2c;}
.form-buttons.floated {position:fixed; top:auto; left:auto; bottom:10px; right:10px; height:auto; margin:0; width:400px; height:auto; background:transparent; border-radius:0; -webkit-box-shadow:0 0 transparent; box-shadow:0 0 transparent; border-top:0 none;}
.form-buttons.floated #link {bottom:10px;}
.form-buttons#code-buttons {left:577px; width:408px;}
.form-buttons button {margin:5px 0 0 6px; padding:2px 30px;}
#float {position:absolute; right:6px; bottom:-8px;}
#link {position:absolute; right:138px; bottom:-8px;}
#dock {display:none; position:absolute; font-size:8pt !important; right:20px; bottom:10px; padding:2px 20px;}
#float-select {display:none; position:absolute; font-size:8pt !important; right:130px; bottom:10px; padding:2px 20px;}

.floated {position:fixed; border-radius:0; width:100%; bottom:0; left:0; box-shadow:0 0 transparent; z-index:9999; padding:5px; font-size:9pt; margin:0; border-top:1px solid #888; box-shadow:0 0 8px #666; background:#ddd;}
.floated .wtf {display:none;}
.floated .config {padding:0;}
.floated .checked {font-size:12pt;}
.floated .options {marginp-top:4px;}
.floated .config.characters .group {margin-bottom:1px;}

/* About */
.what {line-height:1.3em;}
.what ol {padding:0 0 0 35px; margin:15px 0;}
.what ol li {margin:5px 0 0; padding:0;}
.what code {background:#eee; border:1px solid #aaa; color:#333; padding:2px 5px; font-size:10pt;}

/* Button styles */
button {font-size:10pt; margin:5px 0 0;}
button span {font-size:23pt; line-height:2pt; position:relative; top:7px;}
.webkit button span {font-size:13pt; top:2px;}
#despand {display:none;}

/* Github Ribbon */
.ribbon {z-index:10; background:#000; overflow:hidden; position:fixed; left:-3em; top:2.5em; -moz-transform:rotate(-45deg); -webkit-transform:rotate(-45deg); box-shadow:0 0 10px #111; opacity:0.4;}
.ribbon:hover {opacity:1.0;}
.ribbon a {border:1px solid #000; color:#fff; display:block; font:bold 81.25% 'Helvetiva Neue', Helvetica, Arial, sans-serif; margin:0.05em 0 0.075em 0; padding:0.5em 3.5em; text-align:center; text-decoration:none; text-shadow:0 0 0.5em #444; }
