/* red          pale lime   green       dark pale   beige
   FF4242       F4FAD2      D4EE5E      E1EDB9      F0F2EB */
html, body {margin:0; padding:0; font-family:sans-serif; font-size:12pt; background:#fff; overflow:auto;}
.wrap {width:980px; padding:0 20px 10px; margin:10px auto 10px;}

h1, h2 {color:#FF4242; margin:0 0 0px 10px; padding:0; font-size:53pt; font-family:monospace; letter-spacing:0.1em; font-weight:bold;
text-shadow:1px 1px 0 #aa3037,
1px 2px 0 #aa3037,
2px 3px 0 #aa3037,
3px 4px 0 #aa3037,
4px 5px 0 #aa3037,
5px 3px 5px #000;}
h2 {position:relative; top:16px; margin-left:20px; z-index:9; color:#B4CE1E; font-size:24pt; letter-spacing:7px; text-transform:uppercase; font-weight:normal;
text-shadow:1px 1px 0 #546E6E,
1px 2px 0 #546E6E,
2px 3px 0 #546E6E,
3px 3px 3px #aaa;}

.section {background:#fff; padding:35px 20px 20px; border-radius:8px; margin:0 0 10px; overflow:auto; clear:both; position:relative;
box-shadow:0px 1px 0 #bbb,
1px 2px 0 #bbb,
2px 3px 0 #bbb,
3px 4px 0 #bbb,
4px 5px 0 #bbb,
5px 5px 16px #aaa;
}

ul.nav {padding:15px 25px 0; margin:0; overflow:auto;}
ul.nav li {float:left; list-style:none; margin:0 20px 0 0;}
ul.nav li a {color:#FF4242; text-decoration:underline;}
ul.nav li a:hover {text-decoration:none;}

.config {float:left; width:200px; padding:0 10px 10px;}

#function {display:none; font-family:monospace; overflow-x:scroll; width:940px; font-size:10pt;}

.options {border-left:13px solid #f6f6f6; overflow:auto; clear:both; padding:0 0 0 10px; margin:10px 0 0 1px;}
.options .group {padding:2px 0; margin:4px 0 0; float:left; clear:both;}
.group label {cursor:pointer; color:#666; padding:0 0 0 2px;}
.group label:hover {color:#000;}

.display {font-family:monospace;}
.display label {color:#666; font-family:sans-serif; margin:10px 0 5px; display:block;}
#git-display, #hg-display, #svn-display {background:#000; padding:3px; color:#fff;}

.display .git-branch {color:#c7c323;}
.display .svn-branch {color:#6cc2c6;}
.display .hg-branch {color:#e484fd;}
.display .git-conflicted, .display .hg-conflicted {color:#ae350e;}
.display .git-ahead {color:#6cc2c6;}
.display .conflict-char {color:#c7c323;}

.opposite {display:none;}
.git {background:#ffffee;}
.hg {background:#ffeeff;}
.svn {background:#eeeeff;}
